build
node_modules
tools/build/output/
tools/dev/output/

.foldex.*
*~

# Build
/build

# Python stuff
__pycache__
*.py[co]

# Ignore our own submodules (The best is to symlink them)
src/inc/modules/*.jsxinc
src/Scripts/ScriptUI Panels/inc/modules/DuAEF_DuIO_api.jsxinc
src/Scripts/ScriptUI Panels/inc/modules/DuAEF_DuSan_api.jsxinc
src/Scripts/ScriptUI Panels/inc/modules/DuGR_api.jsxinc
src/Scripts/ScriptUI Panels/inc/modules/DuIO_api.jsxinc
src/Scripts/ScriptUI Panels/inc/modules/DuSan_api.jsxinc

scriptlets/libs/DuGR_api.jsxinc
scriptlets/libs/DuIO_api.jsxinc
scriptlets/libs/DuSan_api.jsxinc
