node_modules
tools/build/output/
tools/dev/output/

.foldex.*
*~

# Ignore our own submodules (The best is to symlink them)
src/inc/modules/DuAEF.jsxinc
types/duaef/types.d.ts
src/inc/modules/setup.jsxinc
src/inc/modules/DuGR_api.jsxinc
src/inc/modules/DuIO_api.jsxinc
src/inc/modules/DuSan_api.jsxinc

scriptlets/libs/DuAEF.jsxinc
scriptlets/libs/DuGR_api.jsxinc
scriptlets/libs/DuIO_api.jsxinc
scriptlets/libs/DuSan_api.jsxinc
scriptlets/libs/setup.jsxinc
