node_modules
tools/build/output/
tools/dev/output/

.foldex.*
*~

# Build
/build

# Python
__pycache__

# Ignore our own submodules (The best is to symlink them)
src/inc/modules/*.jsxinc
types/duaef/types.d.ts

scriptlets/libs/DuAEF.jsxinc
scriptlets/libs/DuGR_api.jsxinc
scriptlets/libs/DuIO_api.jsxinc
scriptlets/libs/DuSan_api.jsxinc
scriptlets/libs/setup.jsxinc
