[submodule "DuAEF"]
	path = DuAEF
	url = https://github.com/RxLaboratory/DuAEF.git
[submodule "Duik_Docs"]
	path = Duik_Docs
	url = https://github.com/RxLaboratory/DuAEF_Duik_Docs.git
[submodule "DuGR"]
	path = DuGR
	url = https://github.com/RxLaboratory/DuAEF_DuGR.git
[submodule "DuIO"]
	path = DuIO
	url = https://github.com/RxLaboratory/DuAEF_DuIO.git
[submodule "Duik_API"]
	path = Duik_API
	url = https://github.com/RxLaboratory/Duik_API.git
[submodule "DuSan"]
	path = DuSan
	url = https://github.com/RxLaboratory/DuSan.git
