[submodule "DuGR"]
	path = DuGR
	url = https://github.com/RxLaboratory/DuAEF_DuGR.git
[submodule "DuIO"]
	path = DuIO
	url = https://github.com/RxLaboratory/DuAEF_DuIO.git
[submodule "DuSan"]
	path = DuSan
	url = https://github.com/RxLaboratory/DuSan.git
