a {
    color: #a526c4;
}
a:hover {
    color: #710132;
}

.wy-nav-content-wrap {
    background:none;
 }

.wy-side-nav-search {
    background-color: #710132;
}
.wy-nav-side {
    background-color: #333333;
    box-shadow: 1px 4px 7px #131313;
}
.wy-body-for-nav {
    background-color: #434343;
}
.wy-nav-content {
    background-color: #e3e3e3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 7px #131313;
}
.wy-side-nav-search input[type="text"] {
    border-color: #710132;
}
.wy-menu-vertical li a {
    color: #a526c4;
}
.wy-menu-vertical span {
    color: #a526c4;
}

.codehilite {
    background-color: #b3b3b3;
    padding:10px;
    overflow-inline: auto;
    margin-bottom: 25px;
    margin-top:-15px;
}

.codehilite .c1 {
    color: #278d4b;
    font-weight:800;
}

.codehilite .s2 {
    color: #527bbd;
}

.codehilite .kd {
    color: #8c267c;
    font-weight:800;
}

.codehilite .k {
    color: #8c267c;
    font-weight:600;
}

.codehilite .o, .codehilite .p {
    color: #8d5e98;
    font-weight:800;
}