.details dt {
    border-color: #a526c4;
}

.sidebar a:hover, .sidebar a.active {
    color: #a526c4;
  }

  .top-nav h1 {
    color: #a526c4;
  }

  .button {
    border-color: #a526c4;
    color: #a526c4;
  }

  a {
    color: #a526c4;
  }

  a:hover {
    color: #ec1818;
  }

  .button:hover, .button.is-hovered {
    border-color: #ec1818;
    color: #a526c4;
  }
  
  .button:hover {
    color: #ec1818;
    border-color: #ec1818;
  }
