body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #e3e3e3;
    background-color: #131313;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    margin-bottom: 2px;
    margin-top: 2px;
}

a {
    text-decoration: none;
    color: #8E1A7D;
}

#main-wrapper {
    background-color: #232323;
    border-radius: 20px;
    padding: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#main-image {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#main-title {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
}

button {
    background-color: #a526c4;
    border-radius: 20px;
    border: none;
    color: #232323;
    font-size: large;
    padding: 20px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    cursor: pointer;
}

button:hover {
    background-color: #e3e3e3;
    color: #232323;
}