a {
    color: #a526c4;
}
a:hover {
    color: #710132;
}

img {
    max-width: 100%;
}

hr {
    height: 3px;
    border: none;
    background-color: #D3D3D3;
}

body {
    background-color: #434343;
    font-size: 1.3em;
}


h1 {
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 30px;
    margin-top: 60px;
}

h3 {
    margin-bottom: 25px;
    margin-top: 40px;
}

blockquote {
    border-left-width: 3px;
    border-color: #6f6f6f;
    font-style: italic;
    padding-top: 3px;
    padding-bottom: 3px;
}

figcaption {
    font-style: italic;
    margin-bottom: 15px;
    color: #636363;
}

blockquote figcaption {
    font-style: normal;
    margin-bottom: 0px;
}

figure {
    margin-top: 25px;
}

.admonition {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: -50px;
    margin-right: 0px;
    padding-left: 43px;
    border-left: 7px solid;
}

.admonition.tip {
    border-left-color: #4bdf52;
}

.navbar-default {
    border-bottom: 0;
    background-color: #333;
}

.bs-sidebar {
    background-color: #e3e3e3;
    background-size: 100% 1.2em;
    
    background-size: 10px 10px;
    background-image: radial-gradient(circle, rgba(0,0,0,0.2), rgba(0, 0, 0, 0) 1px);
    
    box-shadow: 1px 4px 7px #232323;
    border-radius: 10px;
    border: none;

    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #b3b3b3 rgba(0,0,0,0); /* Firefox */
}

 /* width */
.bs-sidebar::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.bs-sidebar::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
  }
  
  /* Handle */
.bs-sidebar::-webkit-scrollbar-thumb {
    background: #b3b3b3;
  }
  
  /* Handle on hover */
  .bs-sidebar::-webkit-scrollbar-thumb:hover {
    background: #333;
  } 

.bs-sidebar .nav > .active > a, .bs-sidebar .nav > .active:hover > a, .bs-sidebar .nav > .active:focus > a {
    border-right: 7px solid;
}

li.first-level .collapse-button {
    padding-left:10px;
}

li.first-level .second-level .collapse-button {
    padding-left:0px;
}

.collapsible-content {
    padding: 0 20px;
    overflow: hidden;
    background: #f1f1f1;
    list-style-type: none;
    max-height: 0;
    transition: max-height 0.2s cubic-bezier(0, 1, 0, 1);
}

.collapsible-content-active {
    max-height: 1000px;
    transition: max-height 0.2s ease-in-out;
}

.collapse-button {
    background: none;
    border: none;
    font-weight: bold;
    color:#333;
    width:100%;
    text-align: left;
}

.collapse-button:before {
    content: '\025B6';
    font-size: 8px;
    float: left;
    color: #838383;
    margin-right:5px;
    padding-top:4px;
}

.active-collapse-button::before {
    content: '\025BC';   
}

.active-collapse-button, .collapse-button:hover {
    background: #f1f1f1;
  }

@media (min-width: 992px) {
    #side-menu {
        position: fixed;
        top: 80px;
        height: calc(100% - 100px);
        overflow-y: hidden;
    }

    .bs-sidebar.affix {
        position: relative;
        top: 0;
        max-height: calc(50% - 20px);
        overflow-y: auto;
    }
}

.bs-sidenav {
    background: none;
}

.col-md-9 {
    background-color: #e3e3e3;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 7px #131313;
}

.nav-footer {
    width: 78%;
    float: right;
}

@media (max-width: 992px) {
    .nav-footer {
        width: 100%;
    }
}

.nav-footer ul {
    list-style-type: none;
}

.nav-footer ul li {
    background-color: #e3e3e3;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 7px #131313;
    max-width: 50%;
    text-align: center;
    font-weight: 800;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.nav-footer-prev {
    float: left;
}

.nav-footer-next {
    float: right;
}

pre {
    background: none;
    border: none;
}

pre code {
    border-radius: 10px;
}

ul.nav li.second-level {
    font-weight: bold;
}

ul.nav li.active {
    background-color: #f1f1f1;
}

ul.nav li p {
    margin-left: 10px;
}

ul.nav li a {
    font-weight: normal;
}

.collapsible ul.nav li a::before {
    content: "▹ ";
}

.post-meta {
    font-size: 0.9em;
    background-color: #535353;
    color: #c3c3c3;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 1px;
    margin-bottom: 5px;
    max-width:263px;
}

.post-meta a {
    color: #fff;
}

.post-meta li::marker {
    content: "▹\00a0";
}

.post-meta ul {
    padding-left:20px;
}