/* MAIN */

*{
        outline: none;
}

MainWindow, QDialog {
        background-color: @color-dark;
	/*border: 4px solid @color-medium;*/
}

QDialog {
        border-color: @color-light;
}

QDialog#HelpDialog {
        border-color: @color-medium;
}

QWidget {
        background-color: @color-dark;
}

/* COLOR DIALOG */

QColorDialog QWidget {
        border:none;
}

QColorDialog QPushButton {
        border: @border-size solid;
	border-color:  @color-medium;
}

/*  LABEL */

QLabel {
        color: @color-light;
}

QLabel:disabled {
        color: @color-medium;
}

/* (PLAIN) TEXT EDIT */

QPlainTextEdit, QTextBrowser, QTextEdit, QLineEdit {
        background-color: @color-medium;
	color: @color-light;
	padding: @edit-padding;
	padding-bottom: 5px;
	border: @border-size solid @color-medium;
	border-radius: @border-radius;
}

QPlainTextEdit:hover, QTextBrowser:hover, QTextEdit:hover  {
        background-color: @color-dark;
	color: @color-dark;
	border-color:  @color-light;
}

QLineEdit:hover {
        background-color: @color-light;
	color: @color-dark;
	border-color:  @color-light;
}

QPlainTextEdit:disabled, QTextEdit:disabled,QTextBrowser:disabled, QLineEdit:disabled  {
        background-color: @color-dark;
	border-color: @color-dark;
	color: @color-medium;
}

/* BUTTON */

QPushButton {
        border: @border-size solid @color-medium;
	color: @color-light;
	background-color: @color-medium;
	padding: @button-padding;
	border-radius: @border-radius;
}

QPushButton:disabled {
        border-color:  @color-dark;
	background-color: @color-dark;
	color: @color-medium;
}

QPushButton:hover {
        background-color: @color-light;
	color: @color-dark;
	border-color:  @color-light;
}

QPushButton:pressed:hover {
        background-color: @color-dark;
	color: @color-light;
}

/* CHECKBOX AND RADIOBUTTON */

QCheckBox, QRadioButton {
	color: @color-light;
	padding: @button-padding;
	border-radius: @border-radius;
}

QCheckBox:hover, QRadioButton:hover {
        color: @color-dark;
	background-color: @color-light;
}

QCheckBox:disabled, QRadioButton:disabled {
        color: @color-medium;
}

QCheckBox::indicator, QRadioButton::indicator {
        background-color: @color-medium;
	width: @handle-size;
	height: @handle-size;
	border: @border-size solid @color-medium;
	border-radius: @border-radius;
}

QCheckBox::indicator:disabled, QRadioButton::indicator:disabled {
        background-color: @color-dark;
	border-color: @color-dark;
}

QCheckBox::indicator:disabled:checked, QRadioButton::indicator:disabled:checked {
        background-color: @color-medium;
}

QCheckBox::indicator:hover, QRadioButton::indicator:hover {
        background-color: @color-less-light;
	border-color: @color-less-light;
}

QCheckBox::indicator:hover:pressed, QRadioButton::indicator:hover:pressed {
        background-color: @color-light;
}

QCheckBox::indicator:checked, QRadioButton::indicator:checked {
        background-color: @color-light;
}

QCheckBox::indicator:checked:hover, QRadioButton::indicator:checked:hover {
        background-color: @color-light;
}

/* SPINBOX */

QSpinBox, QDoubleSpinBox {
        border:none;
	background-color: @color-medium;
	border: @border-size solid @color-medium;
	color: @color-light;
	padding: @edit-padding;
	border-radius: @border-radius;
}

QSpinBox:hover, QDoubleSpinBox:hover {
        background-color: @color-light;
	color: @color-dark;
	border-color:  @color-light;
}

QSpinBox::up-button, QDoubleSpinBox::up-button {
        border:none;
	background-color:@color-medium;
	border-left: @border-size solid @color-dark;
	border-bottom: 1px solid @color-dark;
	border-top-right-radius: @border-radius;
}

QSpinBox::down-button, QDoubleSpinBox::down-button {
        border:none;
	background-color:@color-medium;
	border-top: 1px solid @color-dark;
	border-left: @border-size solid @color-dark;
	border-bottom-right-radius: @border-radius;
}

QSpinBox::up-button:hover,  QSpinBox::down-button:hover, QDoubleSpinBox::up-button:hover, QDoubleSpinBox::down-button:hover {
        background-color: @color-light;
	color: @color-dark;
}

QSpinBox:disabled, QDoubleSpinBox:disabled {
        background-color: @color-dark;
	border-color: @color-dark;
	color: @color-medium;
}

QSpinBox::up-button:disabled, QDoubleSpinBox::up-button:disabled, QSpinBox::down-button:disabled, QDoubleSpinBox::down-button:disabled {
        background-color:@color-dark;
}

/* SLIDER */

QSlider::sub-page:horizontal {
        background-color: @color-medium;
	border-bottom-left-radius: @border-radius;
	border-top-left-radius: @border-radius;
}

QSlider::sub-page:horizontal:disabled {
        background-color: @color-very-dark;
}

QSlider::add-page:horizontal {
        background-color: @color-very-dark;
	border-top-right-radius: @border-radius;
	border-bottom-right-radius: @border-radius;
}

QSlider::handle {
        background-color: @color-light;
}

QSlider::handle:hover {
        background-color: @color-dark;
}

QSlider::handle:disabled {
        background-color: @color-medium;
}

QSlider::handle:hover:disabled {
        background-color: @color-medium;
}

/* COMBO BOX */
QComboBox {
        color: @color-light;
	border: @border-size solid;
	border-color:  @color-medium;
	background-color:@color-medium;
	padding: @edit-padding;
	border-radius: @border-radius;
}

QComboBox:disabled {
        color: @color-medium;
	border-color:  @color-dark;
	background-color:@color-dark;
}

QComboBox:hover {
        background-color: @color-light;
	color: @color-dark;
	border-color:  @color-light;
}

QComboBox::drop-down {
        border: none;
}

QComboBox QAbstractItemView {
        background-color: @color-light;
	selection-background-color: @color-dark;
	selection-color: @color-light;
	border: @border-size solid @color-light;
	padding:@button-padding;
}

/* TOOLBAR */

QToolBar {
        background: @color-medium;
	border: none;
	padding: @edit-padding;
}

QToolBar::separator {
        background: @color-dark;
	width:@border-size;
	height:@border-size;
}

QToolButton {
        color: @color-light;
	border: none;
	border-color:  @color-medium;
	padding: @button-padding;
	background-color: @color-medium;
	margin:@margin;
	border-radius: @border-radius;
}

QToolBar QPushButton {
        background-color: @color-dark;
	color: @color-medium;
}

QToolBar QCheckBox {
        color: @color-less-light;
}

QToolBar QCheckBox:checked {
        color: @color-light;
}

QToolBar QCheckBox::indicator:hover {
        background-color: @color-light;
}

QToolBar QCheckBox::indicator:hover:pressed {
        background-color: @color-dark;
}

QToolBar QCheckBox::indicator:checked {
        background-color: @color-light;
}

QToolBar QCheckBox::indicator:checked:hover {
        background-color: @color-dark;
}

QToolBar QComboBox {
        border: none;
	/*padding: 1px 1px 1px @margin;*/
	padding-left:40%;
	color: @color-dark;
	background-color: @color-light;
}

QToolButton:!enabled {
        color: @color-dark;
}

QToolButton:checked {
        background-color: @color-dark;
}

QToolBar QPushButton:checked {
        background-color: @color-less-light;
	color: @color-dark;
}

SearchWidget QPushButton {
        background-color: @color-medium;
}

QToolButton:pressed:hover,  QToolBar QPushButton:pressed:hover {
        background-color: @color-dark;
}

QToolButton:hover,  QToolBar QPushButton:hover {
        background-color: @color-light;
	color: @color-dark;
}

QToolButton:checked:hover, QToolBar QPushButton:checked:hover {
        background-color: @color-dark;
	color: @color-medium;
}

/* SCROLLBAR */

QScrollBar {
        border: none;
	background: @color-abyss;
	margin: 0;
}

QScrollBar::add-page, QScrollBar::sub-page{
        background: @color-abyss;
	border-radius: @border-radius;
}

QScrollBar::handle {
        background: @color-very-dark;
	border: none;
}

QScrollBar::handle:hover {
        background: @color-medium;
}

QListWidget QScrollBar {
        background: @color-dark;
}

QListWidget QScrollBar::add-page,QListWidget QScrollBar::sub-page{
        background: @color-dark;
}

QListWidget QScrollBar::handle {
        background: @color-less-dark;
}

QListWidget QScrollBar::handle:hover {
        background: @color-light;
}

QScrollBar::add-line, QScrollBar::sub-line {
        border: none;
	width:0;
	height:0;
}

/* VERTICAL */

QScrollBar:vertical {
        width: @bars-size;
}

QScrollBar::handle:vertical {
        min-height: @handle-size;
}

/* HORIZONTAL */

QScrollBar:horizontal {
        height: @bars-size;
}

QScrollBar::handle:horizontal {
        min-width: @handle-size;
}

/* SPLITTER */

QSplitter::handle {
        background: @color-dark;
}

QSplitter::handle:pressed {
        background-color: @color-light;
}

/* LIST */

QListWidget {
        background-color: @color-medium;
	color: @color-light;
	padding: @edit-padding;
	border: @border-size solid @color-medium;
	border-radius: @border-radius;
}

QListWidget::item {
        padding:@edit-padding;;
}

QListWidget::item:hover {
        background-color: @color-medium;
	color: @color-dark;
}

QListWidget::item:selected {
        background-color: @color-dark;
	color: @color-light;
	border = none;
}

QListWidget:disabled {
        background-color: @color-dark;
	border-color: @color-dark;
	color: @color-medium;
}

/* TABLE */

QTableWidget {
        background-color: @color-dark;
	alternate-background-color: @color-dark-alternate;
	border-radius: @border-radius;
}

QTableWidget QTableCornerButton::section {
        background-color: @color-very-dark;
	border:none;
}

QTableWidget QComboBox:hover {
        color: @color-light;
}

QTableWidget QComboBox QAbstractItemView {
        color: @color-light;
}

QHeaderView {
        background-color: @color-very-dark;
}

QHeaderView::section {
        background-color: @color-very-dark;
	color: @color-medium;
	border:none;
	padding:@button-padding;
}

QHeaderView::section:horizontal {
        border-right: @border-size solid @color-dark;
}

QHeaderView::section:vertical {
        border-bottom: @border-size solid @color-dark;
}

QTableWidget QPushButton {
        border:none;
	background-color:@color-transparent;
}

QTableWidget QPlainTextEdit, QTableWidget QTextEdit, QTableWidget QSpinBox, QTableWidget QLineEdit {
        border:none;
	background-color:@color-transparent;
}

QTableWidget QPlainTextEdit:hover, QTableWidget QPlainTextEdit:focus, QTableWidget QTextEdit:hover, QTableWidget QTextEdit:focus, QTableWidget QSpinBox:hover, QTableWidget QSpinBox:focus, QTableWidget QLineEdit:hover, QTableWidget QLineEdit:focus {
        border: @border-size solid @color-medium;
	background-color:@color-medium;
}

QTableWidget QComboBox {
        color: @color-light;
	border:none;
	padding-left:40%;
}

QTableWidget QComboBox QAbstractItemView {
        padding-left:30%;
	padding-right:30%;
}

/* TREE */

QTreeWidget {
        background-color: @color-dark;
	alternate-background-color: @color-dark-alternate;
	color: @color-light;
	border-radius: @border-radius;
}

/* TABS */

QTabWidget {
        background-color:@color-dark;
}

QTabWidget::pane { /* The tab widget frame */
        border:none;
	background-color:@color-dark;
}

QTabBar {
        background-color: @color-very-dark;
}

QTabBar::tab {
        background-color: @color-very-dark;
	color: @color-light;
	border: @border-size solid @color-very-dark;
	padding: @button-padding;
}

QTabBar::tab:selected {
        background-color: @color-dark;
	border-color: @color-dark;
	color: @color-light;
}

QTabBar::tab:hover {
        background-color: @color-light;
	border-color: @color-light;
	color: @color-dark;
}

QTabBar::tab:selected:hover {
        background-color: @color-very-dark;
	border-color: @color-very-dark;
	color: @color-medium;
}

/* TOOLBOX */

QToolBox::tab {
        background-color: @color-dark;
	color: @color-light;
	padding-left: @button-padding;
	border-radius: @border-radius;
}

QToolBox::tab:selected {
        background-color: @color-very-dark;
	color: @color-light;
}

QToolBox::tab:hover {
        background-color: @color-light;
	color: @color-dark;
}

QToolBox::tab:selected:hover {
        background-color: @color-very-dark;
	color: @color-medium;
}

/* STATUS BAR */
QStatusBar {
        color: @color-medium;
}

QStatusBar::item {
        border:none;
}

QStatusBar QLabel {
        color: @color-medium;
	margin-bottom: @margin;
	margin-left: @margin;
}

/* PROGRESS BAR */

QProgressBar {
        color: @color-medium;
	border: none;
	background-color: @color-very-dark;
	border-radius: @border-radius;
	text-align: center;
}

QProgressBar::chunk {
        background-color: @color-light;
	width: 1px;
}
